<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <form action= "" method="POST" >
        {% csrf_token %}
        <h2>Register</h2>
        <input type="text" placeholder="Username" name='uname' required>
        <input type="email" placeholder="Email" name='email' required>
        <input type="password" placeholder="Password" name='pass' required>
      <button type="submit">Register</button>
        <p class="form-toggle">Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </form>
    </div>
  </div>
</body>
</html>
